.row
  .span8
    %h2 Patient Introduction
    %iframe{:src => "http://player.vimeo.com/video/65931787", :width => "400", :height => "300", :frameborder => "0", :webkitAllowFullScreen => true, :mozallowfullscreen => "allowFullScreen"}
  -#
    .span6
      %h2 Meytal!
      %iframe{:width => "480", :height => "295", :frameborder => "0", :allowfullscreen => "true", |
              :src => 'http://www.youtube.com/embed/rJHGDCcET7k?feature=player_detailpage'} |
