.row
  .span8
    %h2 Dramatic!
    %iframe{:width => "480", :height => "295", :frameborder => "0", :allowfullscreen => "true", |
            :src => 'http://www.youtube.com/embed/mfhBM_Yay6w?feature=player_detailpage'} |
  .span6
    %h2 Meytal!
    %iframe{:width => "480", :height => "295", :frameborder => "0", :allowfullscreen => "true", |
            :src => 'http://www.youtube.com/embed/rJHGDCcET7k?feature=player_detailpage'} |
.row
  .span8
    %h2 Exercise Daily!
    %iframe{:width => "480", :height => "295", :frameborder => "0", :allowfullscreen => "true", |
            :src => 'http://www.youtube.com/embed/bRD6YqXG-sg?feature=player_detailpage'} |
  .span6
    %h2 Classic Al!
    %iframe{:width => "480", :height => "295", :frameborder => "0", :allowfullscreen => "true", |
            :src => 'http://www.youtube.com/embed/N9qYF9DZPdw?feature=player_detailpage'} |
