.span10.dashpage
  = render :partial => 'machine_dashboard', :locals => { :facility => @facility }
  .row
  - if !@facility.treatment_areas.empty?
    %h3 Treatment Areas
    - @facility.treatment_areas.each do |area|
      = render :partial => 'treatment_area_dashboard', :locals => { :facility => @facility, :area => area }
  #technician_dashboard_marker
  %audio{:id => 'beep', :src => '/audios/beep.mp3'}
