body {
  background-size: 140%   ;
  background-position: 0px -100px;
  min-width: 900px;
  padding-top: 80px; 
  background-color: #000;
}
#machinestat {
  height: 30px;
  width: 100px;
}
body.home {
  background-image: url('/assets/start.jpg');
}

body.training_videos {
  background-image: url('/assets/start.jpg');
}

body.photos {
  background-image: url('/assets/start.jpg');
}

body.testimonials {
  background-image: url('/assets/start.jpg');
}

body.sessions {
  background-image: url('/assets/start.jpg');
}

body.patients.new {
  background-image: url('/assets/patient.jpg');
}
body.patients.index {
  background-image: url('/assets/patient.jpg');
}

body.patients.show {
  background-image: url('/assets/patient.jpg');
}

body.patients.edit {
  background-image: url('/assets/patient.jpg');
}


body.completed_sessions.patients {
  background-color: #fff;
}

body.treatment_sessions  {
  background-image: url('/assets/treat.jpg');
}
body.treatment_facilities {
  background-image: url('/assets/manage.jpg');
}
body.select_report {
  background-image: url('/assets/manage.jpg');
}
body.generate_report {
  background-image: url('/assets/manage.jpg');
}


.alert {
  background-color: #333;
  color: #fff;
  border:none;
}

/* Home Page */

.dashboardDiv {
  position: fixed;
  bottom: 0px;
}
.dropdown img {
  padding-top: 10px;
}
.topright img {
  height: 45px;
}
.topright a {
  color: #fff;
  font-size: 16px;
  font-family: helvelica;
}
a:link {text-decoration:none;}
.navtexty {
  vertical-align: text-top;
}
.logopic img {
  display: inline;
  height: 65px;
}
.login-top {
  background: rgba(0, 0, 0, .93);
  margin: 0px 0px 0px 0px !important;
  padding: 3px 10px 10px 5px;
}
.login-top label {
  color: #fff;
}
.login-inner{
  background: rgba(0, 0, 0, .85);
  z-index:2;
  margin-left: 0px !important;
}
.login-container {
  background: rgba(0, 0, 0, 0);
  margin: 0 auto;
  width: 400px; /* Whatever exact width you are looking for (not bound by preset bootstrap widths) */
 
  border-spacing: 2px;
  margin-top: 20%;
  z-index:3;
}
.login-container h4 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.loginfield label, input[type="text"], input[type="password"] {
  opacity: 1 !important;

  z-index:10;
}
.navbar-inner{
  opacity:.85;
   background-color: #111; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.nav-style ul{
  background-color: #111; 
  opacity: 1 !important;
}
.nav-style li a {
  color: #fff !important;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 10px;
}
.space {margin: 25px 0px}
.space-medium {margin:40px 0;}
.space-large {margin:75px 0}
.space-huge {margin:150px 0}
.push{
  margin: 0px 0px 200px 0px;
}
.push-large{
  margin: 0px 0px 400px 0px;
}

input[type="text"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 0px 0px; /* override from bootstrap */
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

label {
	display:inline;
}
.removebtn {
  float: right;
  margin-right: 75px;
}
.greybtn {
    background-color: rgb(140, 140, 140);
}
.close {
	float: right;
	margin-right: 75px;
}

.meter-wrap{
    position: relative;
}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    width: 300px; height: 30px;
}

.meter-wrap, .meter-value {
    background: #bdbdbd  top left no-repeat;
}

.meter-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
    color: #fff;
    text-align: center;
    width: 100%;
}
.box{
  border:0px solid #eee;
  margin:2px 2px 2px 2px !important;
  padding: 1px 1px 1px 1px !important;

  height:80px;
}
.smallbox{
  border:1px solid #eee;
  margin:2px 2px 2px 2px !important;
  padding: 1px 1px 1px 1px !important;
  height:40px;
}
.greybox {
  background: rgba(0, 0, 0, .7);

}
.boxtop{
  height:90px;
}
.pinkbox{
  background-color: #ed8d74;
}
.greenbox{
  background-color:#b7d93c;
}
.darkgreenbox{
  background-color: #6bab3d;
}
.orangebox{
  background-color:#fdb30f;
}
.redbox{
  background-color: #e9421e
}
.white-icon{
  color:#fff;
  padding-right:5px;
  padding-top:1px;
}


.smallbox a {
  color: #fff;
  font-size:16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  text-indent: 5px;
  margin-right:0px;
  overflow: hidden;
}
.box a {
  color: #fff;
  font-size:16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  text-indent: 10px;
  margin-right:0px;
  overflow: hidden;
}
.box img{
  height: 100%;
  width:100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

/* Patient screen */

.newpatient {
  color: #fff;
  background: rgba(0, 0, 0, .7);
  padding-left: 20px;
}
.patientName a {
  color: #fff;
  font-size: 16px;

}
.patientRow {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-style: groove;
  border-color: #222;
  border-width: 2px;

}
.patientImage { 
  height: 300px}

.patientImage img { 
  height: 300px}

/* treatment scrreen */
.measure td {
  width: 70px !important;
  padding: 0px 0px 0px 0px;

}
.measure thead {
  width: 80px;
  padding: 5px 5px 5px 5px;

}

.measure input[type="text"]{
  width:80px;
}
.inputFile{
    line-height: 15px !important;
    height: 15px !important;
    position: relative;
    border:0px solid #3a3a3a;
    padding:0px;
    margin-left:5px;
    width:100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    vertical-align: bottom;
}
.patientImg
{
  border:2px solid #3a3a3a;
  width:160px;
  padding:4px;
}
.patientImg img
{
  border:2px solid #3a3a3a;
  width:160px;
  padding:4px;
}
.phistory td {
  padding-right: 25px;
  vertical-align: top;

}

.timer{
  background-color: red;
  border: 2px dotted;
  text-align: center;
  color: #fff;
}
iframe {
  margin-top: 5px;
  margin-bottom: 5px;

  -moz-border-radius: 1px;
  -webkit-border-radius: 1px; 
  border-radius: 1px; 

  -moz-box-shadow: 0px 0px 0px #000; 
  -webkit-box-shadow: 0px 0px 0px #000; 
  box-shadow: 0px 0px 0px #000; 


}

/* treat start  */

.treatstart {

  vertical-align: middle;
  padding-top: auto;
  padding-bottom: auto;
  position: absolute;
  top:40%;
}
.treatmenu {
  background: rgba(0, 0, 0, .7);
  color: #fff;
  padding-left: 0px;
  border-left: 0px;
  margin-left: 0px;
}
.treatmenuhead {
  background: rgba(0, 0, 0, .9);
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top:0px; 
}
.treatmentmenubody{
  padding-left: 10px;
  padding-bottom: 10px;
}
/*Facility Page*/
.facilitypage {
    background: rgba(255, 255, 255, .7);
    padding-bottom: 40px;

}
.facilitypage table {
  font-size: 18px;
}
.facilitypage td {
    padding: 20px 20px 20px 20px;
  margin: 3px 3px 3px 3px;

}
.report {

  padding-left: 30px;
}

iframe {
  height: 500px;
  width: 500px;
  
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 30px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  border-radius: 12px; 

  -moz-box-shadow: 4px 4px 14px #000; 
  -webkit-box-shadow: 4px 4px 14px #000; 
  box-shadow: 4px 4px 14px #000; 
}
